.edit_job{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.edit_job_left{
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5vw;
}

.job_form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
}

.job_input {
    height: 8vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.job_input > input {
    height: 5vh;
    width: 30vw;
    align-self: flex-start;
    border: #C2C2C2 1px solid;
    color: #C2C2C2;
    border-radius: 1vh;
    padding: 5px;
}

.job_input > label {
    font-weight: 600;
    font-size: 1.5rem;
}

.job_input > select {
    height: 6vh;
    width: 15vw;
    border: #C2C2C2 1px solid;
    color: #C2C2C2;
    border-radius: 1vh;
    padding: 5px;
    margin-right: 16vw;
}

.job_input > textarea {
    height: 5vh;
    width: 30vw;
    resize: none;
    border: #C2C2C2 1px solid;
    color: #C2C2C2;
    border-radius: 1vh;
    padding: 5px;
}

.edit_job_right{
    /* background-image: url("../../assets/addJobPage/addJob.png"); */
    height: 100vh;
    width: 45vw;
    color: white;
}

.cancel_updateJob{
height: 5.5vh;
    width: 12vw;
    background-color: #C2C2C2;
    border-radius: 1vh;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin: 1vh 0 0 0;
}

.update_job_button{
height: 5.5vh;
    width: 12vw;
    background-color: #ED5353;
    border-radius: 1vh;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin: 1vh 0 0 1vh;
    cursor: pointer;
}