.job_search {
    height: 25vh;
    width: 80vw;
    margin: 5vh auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 21px 5px rgba(224, 13, 55, 0.58);
    -moz-box-shadow: 0px 0px 21px 5px rgba(224, 13, 55, 0.58);
    box-shadow: 0px 0px 21px 5px rgba(224, 13, 55, 0.58);
  }
  
  .search_form {
    margin: 1vh 5vw;
    width: 80vw;
    display: flex;
    align-items: center;
  }
  
  .search_bar {
    position: relative;
    display: flex;
    border: 2px solid #ccc;
    border-radius: 2vh;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2.5vw;
  }
  
  .search_bar > img {
    height: 5vh;
    width: 5vh;
    padding-left: 2vw;
  }
  
  .search_bar > input {
    width: 68vw;
    padding: 2vh 1vw;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
  }
  
  .search_bar > input:focus {
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove default box shadow */
  }
  
  .job_search_footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5vw;
    width: 100%;
  }
  
  .select_skills {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .select_skills > select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .select_skills > button {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .selected_skills {
    margin-top: 20px;
  }
  
  .selected_skill {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .remove_skill {
    cursor: pointer;
    margin-left: 5px;
    color: red;
  }